$small: 580px;

@mixin stackAnimation($name, $x, $y) {
    animation: 1s ease-in-out 0s 1 #{$name};
    @keyframes #{$name} {
        0% {
            transform: translate(-1.5rem, 2.5rem);
            opacity: 0;
        }
        100% {
            transform: translate($x, $y);
            opacity: 1;
        }
    }
}

@mixin headingTopToBottom($name, $startX, $startY, $endX, $endY) {
    animation: 1s ease-in-out 0s 1 #{$name};
    animation-delay: 1.5s;
    margin: 4rem 0;

    @keyframes #{$name} {
        0% {
            transform: translate($startX, $startY);
            margin: 0 0;
            opacity: 0;
        }

        100% {
            transform: translate($endX, $endY);
            margin: 4rem 0;
            opacity: 1;
        }
    }
}

@mixin one-animation {
    & {
        animation: 1.5s ease-in-out 0s 1 one-animation;
    }
    @keyframes one-animation {
        0% {
            width: 23rem;
            height: 14.25rem;
            z-index: 5;
            transform: translate(1.5rem, -.5rem);
        }
        100% {
            width: 31%;
            height: 100%;
            transform: translate(-108%,4rem);
        }
    }
    @media screen and (max-width: $small) {
        @keyframes one-animation {
            0% {
                width: 15.6rem;
                height: 21.5rem;
                z-index: 5;
                top: 0;
                margin: 0 0;
                transform: translate(1.5rem, -.5rem);
            }
            100% {
                width: 100%;
                height: 10rem;
                margin: 1rem 0;
                transform: translate(0,0);
            }
        }
    }
}

@mixin two-animation {
    &{
        animation: 1.5s ease-in-out 0s 1 two-animation;
    }
    @keyframes two-animation {
        0% {
            width: 23rem;
            height: 14.25rem;
            top: 0;
            z-index: 4;
            margin: 0 0;
            transform: translate(0rem, 1rem);
        }
        100% {
            width: 31%;
            height: 100%;
            top: 4rem;
            transform: translate(0%,0);
        }
    }
    @media screen and (max-width: $small) {
        @keyframes two-animation {
            0% {
                width: 15.6rem;
                height: 21.5rem;
                top: 0;
                z-index: 4;
                margin: 0 0;
                transform: translate(0rem, 1rem);
            }
            100% {
                width: 100%;
                height: 10rem;
                margin: 1.5rem 0;
                top: 10.5rem;
                transform: translate(0,0);
            }
        }
    }
}


@mixin three-animation {
    & {
        animation: 1.5s ease-in-out 0s 1 three-animation;
    }
    @keyframes three-animation {
        0% {
            width: 23rem;
            height: 14.25rem;
            transform: translate(-1.5rem, 2.5rem);
        }
        100% {
            width: 31%;
            height: 100%;
            transform: translate(108%,4rem);
            }
        }
        @media screen and (max-width: $small) {
            @keyframes three-animation {
                0% {
                    width: 15.6rem;
                    height: 21.5rem;
                    transform: translate(-1.5rem, 2.5rem);
                }
                100% {
                        width: 100%;
                        height: 10rem;
                        transform: translate(0,23rem);
                    }
                }
        }
}

@mixin bottomCurveAnimation {
    & {
        animation: 1s ease-in-out 0s 1 bottomCurve;
    }
    @keyframes bottomCurve {
        0% {
            transform: translate(0, 16rem);
            opacity: 0;
        }

        100% {
            transform: translate(0, 0);
            opacity: 1;
        }
    }
}

@mixin bottomCurveTextAnimation {
    animation: 1.5s ease-in-out 0s 1 bottomCurveText;
    @keyframes bottomCurveText {
        0% {
            transform: translate(0, 16rem);
            opacity: 0;
        }
        100% {
            transform: translate(0, 0);
            opacity: 1;
        }
    }
}

@mixin stackContentsAnimation {
    animation: 1.5s ease-in-out 0s 1 stackContentsAnimation;
    @keyframes stackContentsAnimation {
        0% {
            transform: translate(0, 4rem);
            opacity: 0;
        }
        100% {
            transform: translate(0, 0);
            opacity: 1;
        }
    }
}
